/******************/
/* SETTINGS & HAS */
/******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: sans-serif;
}

:root {
    --fireworks-clr: white;
    --background-color: black;

    --animation-length: 3s;

    --delay2: -2s;
    --delay3: -4.5s;

    --font-length: 1s;
}

:root:has(option[value="blue"]:checked) {
    --fireworks-clr: dodgerblue;
}

:root:has(option[value="red"]:checked) {
    --fireworks-clr: crimson;
}

:root:has(option[value="gold"]:checked) {
    --fireworks-clr: gold;
}

:root:has(option[value="midnightblue"]:checked) {
    --background-color: midnightblue;
}

:root:has(option[value="rainy-grey"]:checked) {
    --background-color: #3a3a3a;
}

:root:has(option[value="sunny-blue"]:checked) {
    --background-color: deepskyblue;
}

:root:has([type="checkbox"]:checked) {
    --explosive: true;
}

label::after {
    /* Nodig om een begin kleur te zetten en kan niet hieronder staan i.v.m. de cascading order */
    background-color: deeppink;
}

@container style(--explosive: true) {
    label:has(input) {
        --gradientkleur1: dodgerblue;
        --gradientkleur2: lightskyblue;
    }

    article:nth-of-type(2) section,
    article:nth-of-type(2) section div {
        --animation-length: 1s;
    }

    article:nth-of-type(2) section div::after {
        display: block;
    }

    label::after {
        translate: .6em;
        background-color: dodgerblue;
    }
}

/************************/
/* EINDE SETTINGS & HAS */
/************************/

/******************/
/* LAYOUT STYLING */
/******************/

body {
    position: relative;
    margin: 0;
    background-color: var(--background-color);

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        article {
            width: 100vw;
        }
    }
}

article:nth-of-type(1) {
    position: absolute;
    height: 100vh;
    z-index: 20;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: invisible 1s 1 3s forwards;
}

@keyframes invisible {
    0% {
        background-color: black;
    }

    100% {
        background-color: transparent;
    }
}

h1 {
    position: absolute;
    z-index: 20;
    font-size: 1.4rem;
    width: 9em;
    text-align: center;
    font-weight: 400;
    letter-spacing: 3px;
    color: transparent;
    background-image: repeating-linear-gradient(45deg,
            var(--gradientkleur1, deeppink),
            var(--gradientkleur2, hotpink),
            var(--gradientkleur1, deeppink),
            var(--gradientkleur2, hotpink),
            var(--gradientkleur1, deeppink));
    background-size: 200% 200%;
    background-position: left bottom;
    background-clip: text;
    animation: gradient 1s infinite linear,
        boem 3s 1 forwards;
}

@keyframes boem {
    0% {
        top: 40em;
        left: 10em;
        transform: rotate(15deg);
    }

    50% {
        top: 1.5em;
        left: calc(50% - 4.5em);
        transform: rotate(0deg);
        scale: 1;
    }

    60% {
        scale: 20;
    }

    70% {
        scale: 1;
        top: 1.5em;
        left: calc(50% - 4.5em);
        transform: rotate(0deg);
    }

    100% {
        scale: 1;
        top: 1.5em;
        left: calc(50% - 4.5em);
        transform: rotate(0deg);
    }
}

/************************/
/* EINDE LAYOUT STYLING */
/************************/

/**********************************/
/* ALGEMENE STYLING VOOR FIREWORK */
/**********************************/

article:nth-of-type(2) {
    height: calc(100vh - var(--size-article, 10vh));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    section:nth-of-type(1),
    section:nth-of-type(2),
    section:nth-of-type(3) {
        display: grid;
        place-items: center;
        position: absolute;
        bottom: 0;
        width: var(--size-firework, 17rem);
        height: var(--size-firework, 17rem);

        &::after {
            border-radius: 50%;
            content: "";
            position: absolute;
            width: var(--fire, .3rem);
            height: var(--fire, .3rem);
            background-color: var(--fireworks-clr);
            z-index: 10;
        }

        div {
            grid-area: 1/1;
            border-radius: 50%;
        }
    }
}

/****************************************/
/* EINDE ALGEMENE STYLING VOOR FIREWORK */
/****************************************/

/**************/
/* FIREWORK 1 */
/**************/

article:nth-of-type(2) section:nth-of-type(1) {
    left: calc(50% - var(--position1, 40vw));
    animation: container var(--animation-length) infinite linear;

    div:nth-of-type(1) {
        background-image: repeating-conic-gradient(var(--fireworks-clr) 0 2deg,
                transparent 2deg 18deg);
        animation: div1 var(--animation-length) infinite linear;
    }

    div:nth-of-type(2) {
        border: dotted 2px var(--fireworks-clr);
        background-color: transparent;
        animation: div2 var(--animation-length) infinite linear;
    }

    div:nth-of-type(3) {
        border: dotted 8px var(--fireworks-clr);
        width: calc(var(--size-firework, 17rem) - var(--size-cmpnt3, 10rem));
        height: calc(var(--size-firework, 17rem) - var(--size-cmpnt3, 10rem));
        stroke-dashoffset: 40;
        transform: rotate(10deg);
        animation: div3 var(--animation-length) infinite linear;
    }

    div:nth-of-type(4) {
        width: calc(var(--size-firework, 17rem) - var(--size-cmpnt5, 13rem));
        height: calc(var(--size-firework, 17rem) - var(--size-cmpnt5, 13rem));
        background-image: radial-gradient(var(--background-color) 72%,
                transparent 28%);
        z-index: 4;
    }

    div:nth-of-type(5) {
        border: dotted 2px var(--fireworks-clr);
        z-index: 5;
        width: calc(var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
        height: calc(var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
        background-color: transparent;
        animation: div5 var(--animation-length) infinite linear;
    }

    &::after {
        animation: divAfter var(--animation-length) infinite linear;
    }
}

@keyframes container {
    0% {
        bottom: calc(var(--size-firework, 17rem) / -2);
    }

    40% {
        bottom: calc(90% - var(--size-firework, 17rem));
    }

    100% {
        bottom: calc(90% - var(--size-firework, 17rem));
    }
}

@keyframes div1 {
    45% {
        width: calc(var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
        height: calc(var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        width: var(--size-firework, 17rem);
        height: var(--size-firework, 17rem);
        opacity: 0;
    }
}


@keyframes div2 {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }

    40% {
        opacity: 1;
        width: 0;
        height: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        width: calc(var(--size-firework, 17rem) - var(--cmpnt2, 3rem));
        height: calc(var(--size-firework, 17rem) - var(--cmpnt2, 3rem));
        opacity: 0;
    }
}


@keyframes div3 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes div5 {
    0% {
        width: 2rem;
        height: 2rem;
        opacity: 0;
    }

    48% {
        width: 2rem;
        height: 2rem;
        opacity: 0;
    }

    55% {
        width: calc(var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
        height: calc(var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(1turn);
    }
}

@keyframes divAfter {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
        scale: 1;
    }

    45% {
        opacity: 1;
        scale: 3;
    }

    50% {
        opacity: 0;
        scale: 7;
    }

    100% {
        opacity: 0;
    }
}

/********************/
/* EINDE FIREWORK 1 */
/********************/

/**************/
/* FIREWORK 2 */
/**************/

article:nth-of-type(2) section:nth-of-type(2) {
    animation: container2 var(--animation-length) infinite linear var(--delay2);

    div {
        animation: border var(--animation-length) infinite linear calc(var(--delay2) + var(--animation-length) / 100 * (2 * var(--index)));
    }

    div:nth-of-type(1) {
        --index: 1;
        background-color: transparent;
    }

    div:nth-of-type(2) {
        --index: 2;
        opacity: 0;
    }

    div:nth-of-type(3) {
        --index: 3;
    }

    div:nth-of-type(4) {
        --index: 4;
        background-color: transparent;
        border: 5px solid var(--fireworks-clr);
    }

    div:nth-of-type(5) {
        --index: 5;
        opacity: 0;
        background-color: transparent;
    }

    &::after {
        animation: divAfter2 var(--animation-length) infinite linear var(--delay2);
    }
}

@keyframes container2 {
    0% {
        bottom: calc(var(--size-firework, 17rem) / -2);
    }

    40% {
        bottom: calc(60% - var(--size-firework, 17rem));
    }

    100% {
        bottom: calc(60% - var(--size-firework, 17rem));
    }
}

@keyframes border {
    0% {
        opacity: 0;
        width: 3rem;
        height: 3rem;
    }

    40% {
        opacity: 0;
    }

    45% {
        border: var(--borderSize, 4px) solid var(--fireworks-clr);
        width: 3rem;
        height: 3rem;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        border: var(--borderSizeAfter, 1px) solid var(--fireworks-clr);
        width: var(--size-firework, 17rem);
        height: var(--size-firework, 17rem);
        opacity: 0;
    }
}

@keyframes divAfter2 {
    0% {
        opacity: 1;
    }

    40% {
        width: var(--fire, .3rem);
        height: var(--fire, .3rem);
    }

    45% {
        opacity: 1;
        width: 0;
        height: 0;
    }

    50% {
        opacity: 0;
        width: 3rem;
        height: 3rem;
    }

    100% {
        opacity: 0;
    }
}

/********************/
/* EINDE FIREWORK 2 */
/********************/

/**************/
/* FIREWORK 3 */
/**************/

article:nth-of-type(2) section:nth-of-type(3) {
    left: calc(50% + var(--position2, 20vw));
    animation: container3 var(--animation-length) infinite linear var(--delay3);

    div:nth-of-type(1) {
        opacity: 1;
        background-image: radial-gradient(var(--fireworks-clr),
                transparent);
        animation: div1-3 var(--animation-length) infinite linear var(--delay3);
    }

    div:nth-of-type(2) {
        border: dotted 2px var(--fireworks-clr);
        background-color: transparent;
        width: var(--size-firework, 17rem);
        height: var(--size-firework, 17rem);
        animation: div2-3 var(--animation-length) infinite linear var(--delay3);
    }

    div:nth-of-type(3) {
        border: none;
        background-image: repeating-conic-gradient(var(--fireworks-clr) 0 2deg,
                transparent 0 8deg);
        animation: div3-3 var(--animation-length) infinite linear var(--delay3);
    }

    div:nth-of-type(4) {
        background-image: radial-gradient(var(--background-color) 72%,
                transparent 28%);
        z-index: 4;
        width: var(--background-circle, 5rem);
        height: var(--background-circle, 5rem);
    }

    div:nth-of-type(5) {
        border: dotted 2px var(--fireworks-clr);
        z-index: 5;
        background-color: transparent;
        width: calc(var(--background-circle, 5rem) - .5rem);
        height: calc(var(--background-circle, 5rem) - .5rem);
        animation: div5-3 var(--animation-length) infinite linear var(--delay3);
    }

    &::after {
        animation: divAfter3 var(--animation-length) infinite linear var(--delay3);
    }
}

@keyframes container3 {
    0% {
        bottom: calc(var(--size-firework, 17rem) / -2);
    }

    40% {
        bottom: calc(var(--hoogteFirework, 70%) - var(--size-firework, 17rem));
    }

    100% {
        bottom: calc(var(--hoogteFirework, 70%) - var(--size-firework, 17rem));
    }
}

@keyframes div1-3 {
    40% {
        width: 5rem;
        height: 5rem;
        opacity: 0;
    }

    47% {
        width: 5rem;
        height: 5rem;
        opacity: 1;
    }

    80% {
        width: calc(var(--size-firework, 17rem) - var(--cmpnt2, 3rem));
        height: calc(var(--size-firework, 17rem) - var(--cmpnt2, 3rem));
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes div2-3 {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
        transform: rotate(0turn);
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: rotate(1turn);
        opacity: 0;
    }
}

@keyframes div3-3 {
    0% {
        width: 5rem;
        height: 5rem;
        opacity: 0;
    }

    55% {
        width: 5rem;
        height: 5rem;
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        width: calc(var(--size-firework, 17rem) - var(--cmpnt2, 3rem));
        height: calc(var(--size-firework, 17rem) - var(--cmpnt2, 3rem));
    }

    100% {
        opacity: 0;
        width: calc(var(--size-firework, 17rem) - var(--cmpnt2, 3rem));
        height: calc(var(--size-firework, 17rem) - var(--cmpnt2, 3rem));
    }
}

@keyframes div5-3 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes divAfter3 {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
        width: var(--fire, .3rem);
        height: var(--fire, .3rem);
    }

    45% {
        opacity: 0;
        width: 5rem;
        height: 5rem;
    }

    100% {
        opacity: 0;
    }
}

/********************/
/* EINDE FIREWORK 3 */
/********************/

/**********************/
/* FIREWORK EXPLOTION */
/**********************/

section:nth-of-type(4),
section:nth-of-type(5),
section:nth-of-type(6),
section:nth-of-type(7),
section:nth-of-type(8) {
    width: var(--explotionSize, 6rem);
    height: var(--explotionSize, 6rem);
    transform-origin: center center;
    display: grid;
    place-items: center;
    position: absolute;

    div {
        grid-area: 1/1;
        height: var(--lineLength, 2rem);
        width: var(--lineWidth, .3rem);
        background-color: transparent;
        list-style-type: none;
        position: absolute;
        top: calc(50% - var(--lineLength, 2rem));
        left: calc(50% - var(--lineWidth, .3rem));
        transform-origin: bottom center;
        border-radius: 3px;
    }

    div::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: var(--lineWidth, .3rem);
        width: var(--lineWidth, .3rem);
        animation: explosion 200ms infinite alternate calc(200ms / 100 * (6 * var(--indexExplotion)));
        border-radius: 3px;
        display: none;
    }

    div:nth-of-type(1) {
        transform: rotate(60deg) translateY(var(--originSpace, -10px))
    }

    div:nth-of-type(2) {
        transform: rotate(120deg) translateY(var(--originSpace, -10px))
    }

    div:nth-of-type(3) {
        transform: rotate(180deg) translateY(var(--originSpace, -10px))
    }

    div:nth-of-type(4) {
        transform: rotate(240deg) translateY(var(--originSpace, -10px))
    }

    div:nth-of-type(5) {
        transform: rotate(300deg) translateY(var(--originSpace, -10px))
    }

    div:nth-of-type(6) {
        transform: rotate(360deg) translateY(var(--originSpace, -10px))
    }
}

@keyframes explosion {
    0% {
        bottom: 0;
        background-color: crimson;
    }

    10% {
        background-color: darkorange;
    }

    30% {
        background-color: gold;
    }

    50% {
        background-color: limegreen;
    }

    70% {
        background-color: dodgerblue;
    }

    80% {
        opacity: 1;
    }

    90% {
        background-color: blueviolet;
    }

    100% {
        background-color: crimson;
        height: 2rem;
        opacity: 0;
    }
}

section:nth-of-type(4) {
    --indexExplotion: 0;
    left: var(--positionLeftStar1, 5vw);
    bottom: var(--positionBottomStar1, 5vh);
}

section:nth-of-type(5) {
    --indexExplotion: 1;
    left: var(--positionLeftStar2, 60vw);
    bottom: var(--positionBottomStar2, 15vh);
}

section:nth-of-type(6) {
    --indexExplotion: 2;
    left: var(--positionLeftStar3, 90vw);
    bottom: var(--positionBottomStar3, 57vh);
}

section:nth-of-type(7) {
    --indexExplotion: 3;
    left: var(--positionLeftStar4, 46vw);
    bottom: var(--positionBottomStar4, 60vh);
}

section:nth-of-type(8) {
    --indexExplotion: 4;
    left: var(--positionLeftStar5, 25vw);
    bottom: var(--positionBottomStar5, 24vh);
}

/****************************/
/* EINDE FIREWORK EXPLOTION */
/****************************/

/*************/
/* KEUZEMENU */
/*************/

article:nth-of-type(2) article {
    height: auto;
    justify-content: center;
    visibility: hidden;
    animation: visible 3s 1 3s forwards;
    background-color: transparent;

    form {
        display: flex;
        margin-top: 10vh;
    }
}

@keyframes visible {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}


select {
    margin: 0 .3rem;
    width: 7rem;
    padding: .5rem;
    border-radius: 20px;
    border: none;
    color: white;
    background-image: repeating-linear-gradient(45deg,
            var(--gradientkleur1, deeppink),
            var(--gradientkleur2, hotpink),
            var(--gradientkleur1, deeppink),
            var(--gradientkleur2, hotpink),
            var(--gradientkleur1, deeppink));
    background-size: 200% 200%;
    background-position: left bottom;
    animation: gradient 1s infinite linear;
    appearance: none;
    text-align: center;
    font-size: .8rem;

    &:hover {
        cursor: pointer;
        --gradientkleur1: dodgerblue;
        --gradientkleur2: lightskyblue;
        animation: gradient 1s infinite linear;
    }

    &:focus {
        outline-style: none;
    }
}

@keyframes gradient {
    0% {
        background-position: left bottom;
    }

    100% {
        background-position: right top;
    }
}

label {
    color: white;
    font-size: .8rem;
    position: relative;
    text-align: end;
    padding: .5rem 1.3em .5rem .5rem;
    font-family: sans-serif;
    margin: 0 .3rem;
    width: 7rem;
    border-radius: 20px;
    border: none;
    background-image: repeating-linear-gradient(45deg,
            var(--gradientkleur1, deeppink),
            var(--gradientkleur2, hotpink),
            var(--gradientkleur1, deeppink),
            var(--gradientkleur2, hotpink),
            var(--gradientkleur1, deeppink));
    background-size: 200% 200%;
    background-position: left bottom;
    animation: gradient 1s infinite linear;
    appearance: none;

    input {
        appearance: none;
    }

    &::after {
        content: "";
        position: absolute;
        left: .7rem;
        top: calc(50% - .35rem);
        width: .7rem;
        height: .7rem;
        border-radius: 50%;
        transition: .3s;
    }

    &::before {
        content: "";
        position: absolute;
        left: .5rem;
        top: calc(50% - .47rem);
        width: 1.7rem;
        height: 1rem;
        background-color: mistyrose;
        border-radius: 30% 30% 30% 30% / 50% 50% 50% 50%;
    }

    &:hover {
        cursor: pointer;
        --gradientkleur1: dodgerblue;
        --gradientkleur2: lightskyblue;
        animation: gradient 1s infinite linear;
    }
}

/*******************/
/* EINDE KEUZEMENU */
/*******************/

/****************/
/* MEDIAQUERIES */
/****************/

@media (prefers-reduced-motion: reduce) {
    :root {
        --animation-length: 15s;
        --font-length: 15s;
    }

    article:nth-of-type(2) label {
        display: none;
    }

    section:nth-of-type(4),
    section:nth-of-type(5),
    section:nth-of-type(6),
    section:nth-of-type(7),
    section:nth-of-type(8) {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    * {
        --size-firework: 8rem;
        --cmpnt2: 1rem;
        --size-cmpnt3: 5rem;
        --size-cmpnt4: 6.5rem;
        --size-cmpnt5: 6rem;
        --background-circle: 3rem;
        --borderSize: 1px;
        --borderSizeAfter: .5px;
        --position2: 10vw;
        --explotionSize: 2rem;
        --lineWidth: .1rem;
        --lineLength: .6rem;
        --originSpace: -5px;
        --hoogteFirework: 80%;
    }
}

/**********************/
/* EINDE MEDIAQUERIES */
/**********************/