*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    --fireworks-clr: white;
    --animation-length: 3s;
}

body{
    margin: 0;
    background-color: black;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    width: 100vw;
}

article:nth-of-type(1) h1, article:nth-of-type(1) p{
    color: white;
}

article:nth-of-type(1){
    height: var(--size-article, 15vh);
    opacity: 0;
}

/* First firework animation */

article:nth-of-type(2){
    height: calc( 100vh - var(--size-article, 15vh) - 10vw);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hele hele vuurwerk wordt afgevuurd */

article:nth-of-type(2) section{
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0;
    animation: container var(--animation-length) infinite linear;
    width: var(--size-firework, 17rem);
    height: var(--size-firework, 17rem);
}

@keyframes container{
    0%{
        bottom: calc(var(--size-firework, 17rem) / -2);
    }
    40%{
        bottom: calc(100% - var(--size-firework, 17rem));
    }
    100%{
        bottom: calc(100% - var(--size-firework, 17rem));
    }
}

/* einde hele hele vuurwerk wordt afgevuurd */

/* algemene styling voor element in het vuurwerk */

article:nth-of-type(2) section div{
    grid-area: 1/1;
    border-radius: 50%;
}

/* einde algemene styling voor element in het vuurwerk */

/* eerste element in vuurwerk: de spijlen */

article:nth-of-type(2) section div:nth-of-type(1){
    background-image: repeating-conic-gradient(
        var(--fireworks-clr) 0 2deg,
        transparent 2deg 18deg 
    );
    animation: div1 var(--animation-length) infinite linear;
}

@keyframes div1{
    45%{
       width: calc( var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
       height: calc( var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
       opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        width: var(--size-firework, 17rem);
        height: var(--size-firework, 17rem);
        opacity: 0;
    }
}

/* einde eerste element in vuurwerk: de spijlen */

article:nth-of-type(2) section div:nth-of-type(2){
    border: dotted 2px var(--fireworks-clr);
    background-color: transparent;
    animation: div2 var(--animation-length) infinite linear;
}

@keyframes div2{
    0%{
        width: 0;
        height: 0;
        opacity: 0;
    }
    40%{
        opacity: 1;
        width: 0;
        height: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        width: calc( var(--size-firework, 17rem) - var(--cmpnt2, 3rem));
        height: calc( var(--size-firework, 17rem) - var(--cmpnt2, 3rem));
        opacity: 0;
    }
}

article:nth-of-type(2) section div:nth-of-type(3){
    border: dotted 8px var(--fireworks-clr);
    width: calc( var(--size-firework, 17rem) - var(--size-cmpnt3, 10rem));
    height: calc( var(--size-firework, 17rem) - var(--size-cmpnt3, 10rem));
    stroke-dashoffset: 40;
    transform: rotate(10deg);
    animation: div3 var(--animation-length) infinite linear;
}

@keyframes div3{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 1; 
    }
    100%{
        opacity: 0;
    }
}

article:nth-of-type(2) section div:nth-of-type(4){
    width: calc( var(--size-firework, 17rem) - var(--size-cmpnt4, 13rem));
    height: calc( var(--size-firework, 17rem) - var(--size-cmpnt4, 13rem));
    background-image: radial-gradient(
        black 72%,
        transparent 28%
    );
    z-index: 4;

}

article:nth-of-type(2) section div:nth-of-type(5){
    border: dotted 2px var(--fireworks-clr);
    z-index: 5;
    width: calc( var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
    height: calc( var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
    background-color: transparent;
    animation: div5 var(--animation-length) infinite linear;
}

@keyframes div5{
    0%{
        width: 2rem;
        height: 2rem;
        opacity: 0;
    }
    48%{
        width: 2rem;
        height: 2rem;
        opacity: 0;
    }
    55%{
        width: calc( var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
        height: calc( var(--size-firework, 17rem) - var(--size-cmpnt4, 14rem));
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(1turn);
    }
}

article:nth-of-type(2) section::after{
    border-radius: 50%;
    content: "";
    position: absolute;
    width: var(--light, .3rem);
    height: var(--light, .3rem);
    background-color: var(--fireworks-clr);
    z-index: 10;
    animation: divAfter var(--animation-length) infinite linear;
}

@keyframes divAfter{
    0%{
        opacity: 1;
    }
    40%{
        opacity: 1;
        scale: 1;
    }
    45%{
        opacity: 1;
        scale: 3;
    }
    50%{
        opacity: 0;
        scale: 7;
    }
    100%{
        opacity: 0;
    }
}

article:nth-of-type(3){
    opacity: 0;
}